{% extends "admin/change_form.html" %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="/changed.js"></script>-->
    <!--<script type="text/javascript" charset="utf-8">-->
        <!--$(function(){-->
            <!--# inspect html to check id of category select dropdown.-->
            <!--$("select#id_catagory").change(function(){-->
                <!--$.getJSON("/getSubcategory/",{id: $(this).val()}, function(j){-->
                     <!--var options = '<option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>';-->
                     <!--for (var i = 0; i < j.length; i++) {-->
                         <!--options += '<option value="' + j[i].id + '">' + j[i].name + '</option>';-->
                     <!--}-->
                     <!--# inspect html to check id of subcategory select dropdown.-->
                     <!--$("select#id_subcategory").html(options);-->
                 <!--});-->
             <!--});-->
         <!--});-->
    <!--</script>-->
{% endblock %}